.RegisterMainRightFormInput {
  width: 100%;
  height: fit-content;
}
.RegisterMainRightFormInputContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.RegisterMainRightFormInputContainer:last-child {
  margin-bottom: 0;
}
.RegisterMainRightFormInputContainer h1 {
  font-size: 12px;
  font-weight: 300;
}
.RegisterMainRightFormInputContainer h1 button {
  color: #6b7280;

  margin-left: 3px;
}
.RegisterMainRightFormInputList {
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
}
.RegisterMainRightFormInputList:last-child {
  margin-bottom: 0;
}

.RegisterMainRightFormInputList .inputLable {
  font-size: 12px;
  font-weight: 500;
}
.RegisterMainRightFormInputList .inputError {
  font-size: 10px;
  font-weight: 300;
  color: #eb5e5d;
}
.RegisterMainRightFormInputList input {
  font-size: 13px;
  font-weight: 300;
}
