.myAccountContainer{
    width: 100%;
    height: fit-content;
    padding-top: 3dvh;
}
.myAccountProfile{
    width: 100%;
    height: fit-content;
}
.myAccountPost{
    width: 100%;
    height: fit-content;
}