/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/PageLayout/styles/DesktopStyles.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.DesktopStyles_pageContainer__ERfYH {
  width: 100%;
  min-height: 100dvh;
  padding: 0 5%;
  position: relative;
  overflow: hidden;
  padding-bottom: 5vw;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/PageLayout/styles/TabletStyles.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.TabletStyles_pageContainer__AhJjh {
  width: 100%;
  min-height: 100dvh;
  padding: 0 3%;
  position: relative;
  overflow: hidden;
  padding-bottom: 5vw;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/PageLayout/styles/MobileStyles.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.MobileStyles_pageContainer__wRSJQ {
  width: 100%;
  min-height: 100dvh;
  padding: 0 5%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10vw;
}

