.postListContainer {
    width: 100%;
    height: fit-content;
  }
  .postListHeader {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 2vw;
  }
  .postListHeader h1 {
    font-size: 5vw;
    font-weight: 500;
  }
  .postListHeaderButton {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .postListHeaderButton span {
    display: none;
  }
  