.postListContainer {
  width: 100%;
  height: fit-content;
}
.postListHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 2vw;
}
.postListHeader h1 {
  font-size: 2vw;
  font-weight: 500;
}
.postListHeaderButton {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postListHeaderButton span {
  font-size: 1.5vw;
  font-weight: 300;
  color: #6b7280;
  margin-right: 2vw;
}
.postList {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.postListEmptyContainer{
  width: 100%;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postListEmpty{
  width: fit-content;
  height: fit-content;
}
.postListEmpty h1{
  font-size: 12px;
  font-weight: 300;
  color: #6b7280;
}